{% include 'header.html' %}
<div class="page">
{% include 'slpmenus0.html' %}
<div class="large-12 columns">
    <div class="right-content">
        <div id="appstart">
            <h1>Okay, Let's Get Started</h1>
            <p>We need an idea of who this school meal application is for.</p>
            <p>Step 1. Identify and provide details about the students in your household<br>
            Step 2. Identify and provide details about the rest of the members in your household<br>
            Step 3. Provide houslehold income details<br>
            Step 4. Provide contact details<br>
            Step 5. Review statements<br>
            Step 6. Sign and submit<br>
            <p>
            <!-- <p class="text-center" style="max-width:600px;margin-left:auto;margin-right:auto;"><img src="/static/img/addpeople_cta.png"></p> -->
            <p><a href="/slpapp" id="startapp" class="button round">Add Students</a></p>
        </div>
    </div>
</div>
</div>
{% include 'footer.html' %}

