{% include 'header.html' %}
{% include 'slpmenus0.html' %}
<div class="large-12 columns">
    <div class="right-content">
        <div id="appstart">
            <h1>Okay, Let's Get Started</h1>
            <p>We need an idea of who this school meal application is for.</p>
            <p class="text-center" style="max-width:600px;margin-left:auto;margin-right:auto;"><img src="/static/img/addpeople_cta.png"></p>
            <p><a href="/slpapp" id="startapp" class="button round">Add Students</a></p>
        </div>
    </div>
</div>
{% include 'footer.html' %}

