<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">School Lunch Program Application</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">ENGLISH</a>
      </li>
      <li class="has-dropdown">
        <a href="#" class="help"><span>?</span></a>
         <ul class="dropdown">
          <li class="help-heading"><span>HELP</span><i class="fi-x right"></i></li>
          <li class="top-questions"><h6>TOP QUESTIONS</h6>
            <p>
                <span class="q1">Who can I look for benefits for?</span><br>
                <span class="a1">You can look for benefits for people who live with you and/or those who
                  are included in your yearly tax return if you submit one.<br><span class="a-more">More</span></span>
            </p>
              <p><span class="q2">What if I am unsure about whether I want to look for benefits for someone?</span><br>
                <span class="a2">Don't worry, we will help determine if you can't look for benefits for someone you add. It is better to add someone you think you might be able to look for benefits for than to leave the person out and potentially lose out on benefits for that person.<br><span class="a-more">More</span></span></p>
              <p><span class="q3">What do I need to know about each person?</span><br>
                <span class="a3">At minimum, you will need to know the person's first name, birthday (or close to it so we can get this person's age), gender, and whether or not that person is pregnant. It will also be helpful if you have basic information about that person's jobs and income, expenses, and dependents. The more information you provide, the more accurate our recommendations at the end will be, but don't worry if you don't know all of this information for everyone.<br><span class="a-more">More</span></span></p>
          </li>
          <li class="has-form">
            <input id="helpsearch" class="foundicon-search" type="text" placeholder="">
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
</div>
