<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>School Lunch Program | SIS</title>
<link rel="stylesheet" href="/static/css/app.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/promin.css" />
</head>
<style>
    ol{
        font-family: inherit;
        font-size: 14px;
        line-height: 1.6;
        list-style-position: outside;
        margin-bottom: 1.25rem;
        list-style-type: none;
    }

    #form1, #form3, #form4 , #form5, #form6 {
    display: none;
    }

/*    .pm-step.qsection2.child, .pm-step.qsection3.child .pm-step.childdash.child {
        display: none;
    }  */

    li.qsection2, li.qsection3, li.qsection4, #childdash, li.section3 {
        display: none;
    }

    .pm-step {
       text-align: center;
       width:90%;
    }

    .callout {
      margin: 0 0 1rem 0;
      padding: 1rem;
      border: 1px solid rgba(10, 10, 10, 0.25);
      border-radius: 0;
      position: relative;
      color: #0a0a0a;
      background-color: white; }
      .callout > :first-child {
        margin-top: 0; }
      .callout > :last-child {
        margin-bottom: 0; }
      .callout.primary {
        background-color: #def0fc; }
      .callout.secondary {
        background-color: #ebebeb; }
      .callout.success {
        background-color: #e1faea; }
      .callout.alert {
        background-color: #fce6e2; }
      .callout.warning {
        background-color: #fff3d9; }
      .callout.small {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem; }
      .callout.large {
        padding-top: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
      }

    .errorholder {
        background-color: #fce6e2;
        border: 1px solid rgba(10, 10, 10, 0.25);
        margin: 0 auto;
    }

    .errorcontainer {
        text-align: center;
        width: 100%;
    }

    label.error {
        color: darkred;;
        font-size: 14px;
    }

</style>
<body>
<div class="page"><!-- Page Start -->
{% include 'slpmenus.html' %}

<div class="large-9 large-push-3 columns">
    <div class="right-content">
        <div id="appform">
                <ol>
                    <form id="form1" class="section2" action="#">
                        <li class="pm-step section1 qsection1 child1 activeques" id="childsection">
                                  <h1>Add the First Student You are Applying For</h1>
                                  <h3>This can be you or it can be any other student in your household</h3>
                                  <div class="row">
                                      <div class="small-4 columns">&nbsp;</div>
                                      <div class="small-4 columns"><input class="childfname validate qsection1" placeholder="Student First Name" type="text" name="child_fn[0]"></div>
                                      <div class="small-4 columns"><span class="error_label"></span></div>
                                  </div>
                                  <div class="row">
                                      <div class="small-4 columns">&nbsp;</div>
                                      <div class="small-4 columns"><input placeholder="Student Middle Initial" type="text" name="child_mi[0]"></div>
                                      <div class="small-4 columns">&nbsp;</div>
                                  </div>
                                  <div class="row">
                                      <div class="small-4 columns">&nbsp;</div>
                                      <div class="small-4 columns"><input class="childlname validate qsection1" placeholder="Student Last Name" type="text" name="child_ln[0]"></div>
                                      <div class="small-4 columns"><span class="error_label"></span></div>
                                  </div>
                                <hr>
                                <input type="button" class="round button childgotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="pm-step section1 qsection2 child1" id="childsection">
                                  <h1>Is <span class="childfirstname"></span> a Foster Child?</h1>
                                  <div class="row">
                                      <div class="small-5 columns">&nbsp;</div>
                                      <div class="small-2 columns">
                                          <input type="radio" class="validate qsection2 ignore" name="child_foster[0]" value="Y">Yes
                                          <input type="radio" class="validate qsection2 ignore" name="child_foster[0]" value="N">No
                                      </div>
                                      <div class="small-5 columns"><span class="error_label"></span></div>
                                  </div>
                                <hr>
                                <input type="button" class="round button childgotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="pm-step section1 qsection3 child1" id="childsection">
                                  <h1>Does <span class="childfirstname"></span> qualify for any of the below situations?</h1>
                                  <div class="row">
                                      <div class="small-3 columns">&nbsp;</div>
                                      <div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[0]" value="homeless">Homeless</div>
                                      <div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[0]" value="migrant">Migrant</div>
                                      <div class="small-3 columns"><span class="error_label"></span></div>
                                  </div>
                                  <div class="row">
                                      <div class="small-3 columns">&nbsp;</div>
                                      <div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[0]" value="runaway">Runaway</div>
                                      <div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[0]" value="headstart">Head Start</div>
                                      <div class="small-3 columns">&nbsp;</div>
                                  </div>
                                <hr>
                                <input type="button" class="round button endchild" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="pm-step section1" id="childdash">
                            <h3><span class="childfirstname"></span> Has Been Added to the Application</h3>
                            <h2>Any other children also applying?</h2>
                            <h3>Please add all the students applying from your household</h3>


                            <div class="row addchild" style="margin-top: 30px">
                                  <div class="small-3 columns">&nbsp;</div>
                                  <div class="small-3 columns" style="text-align: left"><input type="button" class="round button" id="add_child" value="+ ADD CHILD"></div>
                                  <div class="small-3 columns">&nbsp;</div>
                                  <div class="small-3 columns">&nbsp;</div>
                            </div>
                            <hr>
                                <input type="button" id="finishchild" class="round button" value="FINISHED ADDING STUDENTS"> &nbsp;&nbsp;&nbsp;

                        </li>
                        <li class="pm-step section3">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="program">Does your household participate in any of these programs? <b>SNAP, TANF, FDPIR</b></label>
                                        <input class="validatesec3" title="Indicate program participation (Y/N)" type="radio" name="program" value="Y">Yes&nbsp;
                                        <input class="validatesec3" title="Indicate program participation (Y/N)" type="radio" name="program" value="N">No
                                    </div>
                                </div>
                                <div class="errorcontainer">
                                    <div id="form3_error_out" class="errorholder"></div>
                                </div>
                                <hr>
                                <input type="button" class="round button gotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                    </form>
            </ol>
          </div>
    </div>
</div>
<div class="footer-nav">
<div class="large-9 large-push-3 columns">
    <div id="footer">
      <span class="steptracker">
        <span id="numformsteps"></span><br>
        <span class="progress-bar">
          <span class="bar"></span>
        </span>
      </span>
        <a id="arrowdown" class="circle button round right nextQuestion"><img src="/static/img/arrow-down.png"></a>&nbsp; &nbsp;
        <a id="arrowup" class="circle button round disabled right"><img src="/static/img/arrow-up.png"></a>&nbsp; &nbsp;
    </div>
</div>
</div><!-- End Footer Nav -->
</div> <!-- End Page -->
</body>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/jquery.promin.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
<script>
    var cur_child = 1;
    var section = 1;
    var qsection = 1;
    var child_ct = 1;
    var child_edit_mode = false;
    var adult_ct = 0;
    var form_num = 1;
    var active_childfirstname;
    var active_childlastname;


    $(document).foundation();
    $(document).ready(function() {

        $('#footer').hide();

                // Cache the form

        // Stuff for the progress bar
        var $bar = $('.progress-bar .bar');
        var steps = $('.pm-step').length;

              $('#form1').show();
              $('#form1').addClass(".activeform");
              $('')
              $('#footer').show();
              $("ol.prog li:nth-child(1)").removeClass("active");
              $("ol.prog li:nth-child(1)").addClass("todo");
              $("ol.prog li:nth-child(2)").removeClass("todo");
              $("ol.prog li:nth-child(2)").addClass("active");
              $('#arrowup').addClass("disabled");


        $("#form1").on('click', '.childgotonext', function () {
            if ($('#form' + form_num).valid()) {
                 if (qsection == 1) {
                    active_childfirstname = $('#form1').find(".activeques").find(".childfname").val()
                    active_childlastname = $('#form1').find(".activeques").find(".childlname").val()
                    update_childname(active_childfirstname,cur_child)
                    $('#arrowup').removeClass("disabled");
                }

                $('.qsection' + qsection + '.child' + cur_child).hide()
                $('li.qsection' + qsection + '.child' + cur_child).removeClass("activeques");
                set_ignore(qsection, cur_child)
                qsection = qsection + 1;
                $('li.qsection' + qsection + '.child' + cur_child ).addClass("activeques");
                $('.qsection' + qsection + '.child' + cur_child).show()
                remove_ignore(qsection, cur_child)
            }
        });

        $("#form1").on('click', '.endchild', function () {
            if ($('#form' + form_num).valid()) {
                $('.qsection' + qsection + '.child' + cur_child).hide()
                $('li.qsection' + qsection + '.child' + cur_child).removeClass("activeques");
                set_ignore(qsection, cur_child)
                if(!child_edit_mode) {
                    add_child_row(child_ct)
                }
                else {
                    set_childname_on_row(cur_child)
                    child_edit_mode = false;
                }
                $('#childdash').show()
            }
        });

        $("#childdash").on('click', '.editchild', function () {
            cur_child = $( this ).attr( "id" );
            $('#childdash').hide()
            qsection = 1;
            $('li.qsection1' + '.child' + cur_child ).addClass("activeques");
            active_childfirstname = $('#form1').find(".activeques").find(".childfname").val()
            active_childlastname = $('#form1').find(".activeques").find(".childlname").val()
            update_childname(active_childfirstname,cur_child)
            $('li.qsection1' + '.child' + cur_child).show()
            remove_ignore(1, cur_child)
            child_edit_mode = true;
        });

        $("#childdash").on('click', '.remove', function () {
             $(this).closest('.row').prev().remove();
             $(this).closest('.row').remove();
             slpform1.resetForm();//remove error class on name elements and clear history
             slpform1.reset();//remove all error and success data
        });

        $('#arrowdown').on('click', function() {
            if ($('#form' + form_num).valid()) {
                 if (qsection == 1) {
                    active_childfirstname = $('#form1').find(".activeques").find(".childfname").val()
                    active_childlastname = $('#form1').find(".activeques").find(".childlname").val()
                    update_childname(active_childfirstname,cur_child)
                }

                $('.qsection' + qsection + '.child' + cur_child).hide()
                $('li.qsection' + qsection + '.child' + cur_child).removeClass("activeques");
                set_ignore(qsection, cur_child)
                qsection = qsection + 1;
                $('li.qsection' + qsection + '.child' + cur_child ).addClass("activeques");
                $('.qsection' + qsection + '.child' + cur_child).show()
                remove_ignore(qsection, cur_child)
            }
        });

        $('#arrowup').on('click', function() {
                if (qsection == 1) {
                    active_childfirstname = $('#form1').find(".activeques").find(".childfname").val()
                    active_childlastname = $('#form1').find(".activeques").find(".childlname").val()
                    update_childname(active_childfirstname, cur_child)
                }
                $('.qsection' + qsection + '.child' + cur_child).hide()
                $('li.qsection' + qsection + '.child' + cur_child).removeClass("activeques");
                set_ignore(qsection, cur_child)
                qsection = qsection - 1;
                $('li.qsection' + qsection + '.child' + cur_child ).addClass("activeques");
                $('.qsection' + qsection + '.child' + cur_child).show()
                remove_ignore(qsection, cur_child)
                if(qsection == 1){
                    $('#arrowup').addClass("disabled");
                }
        });

        $("#add_child").on('click', function () {
             if(child_ct <= 10) {
                 child_ct = child_ct + 1;
                 var child_unit = '<li class="pm-step section1 qsection1 child' + child_ct + ' activeques" id="childsection"><h1>Add the Next Student You are Applying For</h1>' +
                                  '<h3>This can be you or it can be any other student in your household</h3><div class="row"><div class="small-4 columns">&nbsp;</div>' +
                                  '<div class="small-4 columns"><input class="childfname validate qsection1" placeholder="Student First Name" type="text" name="child_fn[' + child_ct + ']"></div>' +
                                  '<div class="small-4 columns"><span class="error_label"></span></div></div><div class="row"><div class="small-4 columns">&nbsp;</div>' +
                                  '<div class="small-4 columns"><input placeholder="Student Middle Initial" type="text" name="child_mi[' + child_ct + ']"></div><div class="small-4 columns">&nbsp;</div>' +
                                  '</div><div class="row"><div class="small-4 columns">&nbsp;</div><div class="small-4 columns"><input class="childlname validate qsection1" placeholder="Student Last Name" type="text" name="child_ln[' + child_ct + ']"></div>' +
                                  '<div class="small-4 columns"><span class="error_label"></span></div></div><hr><input type="button" class="round button childgotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;</li>' +
                                  '<li class="pm-step section1 qsection2 child' + child_ct + '" id="childsection"><h1>Is <span class="childfirstname"></span> a Foster Child?</h1><div class="row"><div class="small-5 columns">&nbsp;</div>' +
                                  '<div class="small-2 columns"><input type="radio" class="validate qsection2 ignore" name="child_foster[' + child_ct + ']" value="Y">Yes<input type="radio" class="validate qsection2 ignore" name="child_foster[' + child_ct + ']" value="N">No</div>' +
                                  '<div class="small-5 columns"><span class="error_label"></span></div></div><hr><input type="button" class="round button childgotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;</li>' +
                                  '<li class="pm-step section1 qsection3 child' + child_ct + '" id="childsection"><h1>Does <span class="childfirstname"></span> qualify for any of the below situations?</h1><div class="row">' +
                                  '<div class="small-3 columns">&nbsp;</div><div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[' + child_ct + ']" value="homeless">Homeless</div>' +
                                  '<div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[' + child_ct + ']" value="migrant">Migrant</div><div class="small-3 columns"><span class="error_label">' +
                                  '</span></div></div><div class="row"><div class="small-3 columns">&nbsp;</div><div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[' + child_ct + ']" value="runaway">Runaway</div>' +
                                  '<div class="small-3 columns"><input class="qsection3 ignore" type="checkbox" name="child_other[' + child_ct + ']" value="headstart">Head Start</div><div class="small-3 columns">&nbsp;</div>' +
                                  '</div><hr><input type="button" class="round button endchild" value="CONTINUE"> &nbsp;&nbsp;&nbsp;</li>';
                 $('#childdash').hide();
                 qsection = 1;
                 cur_child = child_ct;
                 $( child_unit ).insertBefore( "#childdash" );
                 $('.child' + child_ct + ' .validate').each(function () {
                        $(this).rules("add", {
                            required: true
                        });
                 });
             }
        });

        $("#add_adult").on('click', function () {
             if(adult_ct <= 10) {
                 adult_ct = adult_ct + 1;
                 var adult_unit = '<div class="row"><div class="small-3 columns">&nbsp;</div><div class="small-3 columns"><input class="validatesec4" title="Must provide first name" type="text" name="adult_fn[' + adult_ct + ']"></div>' +
                                  '<div class="small-3 columns"><input class="validatesec4" title="Must provide last name" type="text" name="adult_ln[' + adult_ct + ']"></div><div class="small-3 columns">&nbsp;</div><div class="small-2 columns">' +
                                  '<a href="#" class="datain remove" id="adult_remove">- REMOVE</a></div><div class="small-1 columns"></div></div>'
                 $( adult_unit ).insertAfter( ".pm-step.section4.adult > .row:last" );
                 $('.validatesec4').each(function () {
                        $(this).rules("add", {
                            required: true
                        });
                     });
             }
        });

        $('input[type=radio][name=program]').change(function() {
            if (this.value == 'Y') {
                var casenumber = '<div class="row pgmcase"><div class="small-3 columns">&nbsp;</div><div class="small-3 columns"><label for="program">Program Case Number: </label></div>' +
                                 '<div class="small-3 columns"><input class="validatesec3" type="text" name="pgm_case_num"></div><div class="small-3 columns">&nbsp;</div></div>'
                 $( casenumber ).insertAfter( ".pm-step.section3 > .row:last" );
                 $('.validatesec3').each(function () {
                        $(this).rules("add", {
                            required: true
                        });
                     });
            }
            else if (this.value == 'N') {
                $('.pgmcase').remove();
            }
        });

        $("#childsection").on('click', '.remove', function () {
             $(this).closest('.row').prev().remove();
             $(this).closest('.row').remove();
             slpform1.resetForm();//remove error class on name elements and clear history
             slpform1.reset();//remove all error and success data
        });

        $("#adultsection").on('click', '.remove', function () {
             $(this).closest('.row').remove();
             adult_ct = adult_ct - 1;
             slpform4.resetForm();//remove error class on name elements and clear history
             slpform4.reset();//remove all error and success data
        });


        $("#finishchild").click(function () {
            var slpapp = {};
            var childlist = [];
            var adultlist = [];

            var childdata = $('#form1').serializeArray();
            var childObject = {};
            $.each(childdata,
                function(i, v) {
                    if(v.name.search("child") != -1) {
                        childObject[v.name] = v.value;
                    }
            });
            var childlistin = [];
            $.each(childObject,
                    function(k, v){
                        if (k.search("child_fn") != -1) {
                            childlistin.push(k.substr(9,1))
                        }
                        else {
                            return;
                        }
            });
            for (var i = 0; i < childlistin.length; ++i){
                var child = {};
                if (childObject.hasOwnProperty("child_fn[" + childlistin[i] + "]")) {
                    child["child_fn"] = childObject["child_fn[" + childlistin[i] + "]"];
                }
                else {
                    child["child_fn"] = "";
                }
                if (childObject.hasOwnProperty("child_mi[" + childlistin[i] + "]")) {
                    child["child_mi"] = childObject["child_mi[" + childlistin[i] + "]"];
                }
                else {
                    child["child_mi"] = "";
                }
                if (childObject.hasOwnProperty("child_ln[" + childlistin[i] + "]")) {
                    child["child_ln"] = childObject["child_ln[" + childlistin[i] + "]"];
                }
                else {
                    child["child_ln"] = "";
                }
                if (childObject.hasOwnProperty("child_student[" + childlistin[i] + "]")) {
                    child["child_student"] = childObject["child_student[" + childlistin[i] + "]"];
                }
                else {
                    child["child_student"] = "Y";
                }
                if (childObject.hasOwnProperty("child_foster[" + childlistin[i] + "]")) {
                    child["child_foster"] = childObject["child_foster[" + childlistin[i] + "]"];
                }
                else {
                    child["child_foster"] = "";
                }
                if (childObject.hasOwnProperty("child_other[" + childlistin[i] + "]")) {
                    child["child_other"] = childObject["child_other[" + childlistin[i] + "]"];
                }
                else {
                    child["child_other"] = "";
                }
                childlist.push(child)
            }
 /*           var pgmdata = $('#form3').serializeArray();
            var pgmObject = {};
            $.each(pgmdata,
                function(i, v) {
                    pgmObject[v.name] = v.value;
            });
            var adultdata = $('#form4').serializeArray();
            var adultObject = {};
            $.each(adultdata,
                function(i, v) {
                    adultObject[v.name] = v.value;
            });
            var adultlistin = [];
            $.each(adultObject,
                    function(k, v){
                        if (k.search("adult_fn") != -1) {
                            adultlistin.push(k.substr(9,1))
                        }
                        else {
                            return;
                        }
            });
            for (var i = 0; i < adultlistin.length; ++i){
                var adult = {};
                if (adultObject.hasOwnProperty("adult_fn[" + adultlistin[i] + "]")) {
                    adult["adult_fn"] = adultObject["adult_fn[" + adultlistin[i] + "]"];
                }
                else {
                    adult["adult_fn"] = "";
                }
                if (adultObject.hasOwnProperty("adult_ln[" + adultlistin[i] + "]")) {
                    adult["adult_fn"] = adultObject["adult_ln[" + adultlistin[i] + "]"];
                }
                else {
                    adult["adult_ln"] = "";
                }
                adultlist.push(adult)
            }   */
            slpapp["children"] = childlist;
            console.log(slpapp)
            return;

            data = $('#stepform').serialize();
            console.log(data);
            $.ajax({
                type: "post",
                url: "/save_slp_app",
                data: $('#stepform').serialize(),
                success: function (data) {
                    var obj = JSON.parse(data)
                },
                error: function (xhr, status, error) {
                    alert("error")
                }
            });
        });

        var slpform1 = $('#form1').validate({
            // rules
            rules: {
                "child_fn[0]": {
                    required: true
                },
                "child_ln[0]": {
                    required: true
                },
                "child_student[0]": {
                    required: true
                },
                "child_foster[0]": {
                    required: true
                }
            },
            ignore: ".ignore",
            messages: {
                "child_fn[0]": {
                    required: "Please input a first name",
                },
                "child_ln[0]": {
                    required: "Please input a last name",
                },
                "child_foster[0]": {
                    required: "Please indicate status",
                }
            },
             errorPlacement: function (error, element) {
                 $(element).closest('.columns').next().find('.error_label').html(error);
             }
        });

        $('#form3').validate({
            // rules
            errorLabelContainer: $("#form3_error_out"),
            rules: {
                program: {
                    required: true
                }
            }
        });

        var slpform4 = $('#form4').validate({
            // rules
            errorLabelContainer: $("#form4_error_out"),
            rules: {
                "adult_fn[0]": {
                    required: true
                },
                "adult_ln[0]": {
                    required: true
                }
            }
        });

    })

    function set_ignore(section, cur_child){
        $('.qsection' + section + ' .validate').each(function () {
                $(this).addClass("ignore")
        });
    }

    function remove_ignore(section, cur_child){
        $('.qsection' + section + '.ignore').each(function () {
                $(this).removeClass("ignore")
        });
    }

    function add_child_row(c_ct){
        var childrow = '<div class="row childin"><div class="small-3 columns">&nbsp;</div><div class="small-3 columns" style="text-align: left">' +
                       '<a href="#" class="datain editchild" id=' + c_ct + '>Edit Details</a></div><div class="small-3 columns">&nbsp;</div><div class="small-3 columns">&nbsp;</div></div>' +
                       '<div class="row childin"><div class="small-3 columns">&nbsp;</div>' +
                       '<div class="small-3 columns" style="text-align: left"><span id="rowname' + c_ct + '">' + active_childfirstname + ' ' + active_childlastname + '</span></div><div class="small-3 columns"><a href="#" class="datain remove" id="child_remove">- REMOVE</a></div>' +
                       '<div class="small-3 columns">&nbsp;</div></div>';
        $(childrow).insertBefore( "#childdash .row.addchild" );

    }

    function update_childname(name, childid){

        $('.child' + (childid) + ' .childfirstname').each(function (){
            $(this).html(name)
        });
        $('#childdash .childfirstname').html(name)

    }

    function set_childname_on_row(c_ct){
        var nameout = active_childfirstname + ' ' + active_childlastname;
        $('#childdash #rowname' + c_ct).html(nameout)
    }

</script>

</body>
</html>
