{% include 'header.html' %}
{% include 'slpmenus.html' %}

<div class="large-9 large-push-3 columns">
    <div class="right-content">
        <div id="appstart">
            <h1>Okay, Let's Get Started</h1>
            <p>Are there children in your family who may be eligible for free and reduced price school meals?</p>
            <p class="text-center" style="max-width:600px;margin-left:auto;margin-right:auto;"><img src="/static/img/addpeople_cta.png"></p>
            <p><a href="#" id="startapp" class="button round">Start Application</a></p>
        </div>
        <div id="appform">
                <ol>
                    <form id="form2" class="section2" action="#">
                        <li class="pm-step section2 child" id="childsection">
                                  <h1>Please list all the children in the household</h1>
                                  <h3>Includes infants, children, students up to and including grade 12</h3>
                                  <div class="row">
                                        <div class="small-2 columns">First Name</div>
                                        <div class="small-1 columns">MI</div>
                                        <div class="small-2 columns">Last Name</div>
                                        <div class="small-2 columns">Student</div>
                                        <div class="small-1 columns">Foster<br>Child</div>
                                        <div class="small-2 columns">Homeless<br>Migrant<br>Runaway</div>
                                        <div class="small-2 columns"></div>
                                  </div>
                                  <div class="row">
                                      <div class="small-2 columns"><input title="Must provide first name" type="text" class="validate" name="child_fn[0]"></div>
                                      <div class="small-1 columns"><input type="text" name="child_mi[0]"></div>
                                      <div class="small-2 columns"><input title="Must provide first name" type="text" class="validate" name="child_ln[0]"></div>
                                      <div class="small-2 columns">
                                          <input type="radio" title="Must provide student status" class="validate" name="child_student[0]" value="Y">Yes
                                          <input type="radio" title="Must provide student status" class="validate" name="child_student[0]" value="N">No
                                      </div>
                                      <div class="small-1 columns"><input type="checkbox" name="child_foster[0]" value="Y"></div>
                                      <div class="small-2 columns"><input type="checkbox" name="child_other[0]" value="Y"></div>
                                      <div class="small-2 columns"></div>
                                  </div>
                                <div style="text-align: right">
                                    <input type="button" class="round button" id="add_child" value="+ ADD CHILD"> &nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="errorcontainer">
                                    <div id="form2_error_out" class="errorholder"></div>
                                </div>
                                <hr>
                                <input type="button" class="round button gotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                    </form>
                    <form id="form3" class="section3" action="#">
                        <li class="pm-step section3">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="program">Does your household participate in any of these programs? <b>SNAP, TANF, FDPIR</b></label>
                                        <input class="validatesec3" title="Indicate program participation (Y/N)" type="radio" name="program" value="Y">Yes&nbsp;
                                        <input class="validatesec3" title="Indicate program participation (Y/N)" type="radio" name="program" value="N">No
                                    </div>
                                </div>
                                <div class="errorcontainer">
                                    <div id="form3_error_out" class="errorholder"></div>
                                </div>
                                <hr>
                                <input type="button" class="round button gotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                        </li>
                    </form>
                    <form id="form4" class="section4" action="#">
                        <li class="pm-step section4 adult" id="adultsection">
                              <h1>Please list all the adults in the household</h1>
                              <div class="row">
                                    <div class="small-3 columns">&nbsp;</div>
                                    <div class="small-3 columns">First Name</div>
                                    <div class="small-3 columns">Last Name</div>
                                    <div class="small-2 columns">&nbsp;</div>
                                    <div class="small-1 columns">&nbsp;</div>
                              </div>
                              <div class="row">
                                  <div class="small-3 columns">&nbsp;</div>
                                  <div class="small-3 columns"><input type="text" class="validatesec4" title="Must provide last name" name="adult_fn[0]"></div>
                                  <div class="small-3 columns"><input type="text"  class="validatesec4" title="Must provide last name" name="adult_ln[0]"></div>
                                  <div class="small-2 columns">&nbsp;</div>
                                  <div class="small-1 columns">&nbsp;</div>
                              </div>
                            <div style="text-align: right">
                                <input type="button" class="round button" id="add_adult" value="+ ADD ADULT"> &nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="errorcontainer">
                                <div id="form4_error_out" class="errorholder"></div>
                            </div>
                            <hr>
                            <input type="button" class="round button gotonext nextQuestion" id="submitslpapp" value="SUBMIT SLP APP"> &nbsp;&nbsp;&nbsp;
                        </li>
                    </form>
                    <form id="form5" class="section5" action="#">
                          <li class="pm-step section5 q3"><label for="q3">Is Jenna male or female?</label><br>
                                <label class="radiobutton-item">
                                  <input type="radio" name="gender" value="1" class="radiobutton-cb">
                                  <span class="radiobutton-mark"></span>
                                  <span class="radiobutton-label">Male</span>
                                </label>
                                <label class="radiobutton-item">
                                  <input type="radio" name="gender" value="2" class="radiobutton-cb">
                                  <span class="radiobutton-mark"></span>
                                  <span class="radiobutton-label">Female</span>
                                </label>
                                <hr>
                                <input type="button" class="round button gotonext nextQuestion" value="CONTINUE"> &nbsp;&nbsp;&nbsp;
                          </li>
                    </form>
                    <form id="form6" action="#">
                          <li class="section5 q4"><label for="q4">Is Jenna currently pregnant?</label><br>
                                <label class="radiobutton-item">
                                  <input type="radio" name="q4" value="1" class="radiobutton-cb">
                                  <span class="radiobutton-mark"></span>
                                  <span class="radiobutton-label">No</span>
                                </label>
                                <label class="radiobutton-item">
                                  <input type="radio" name="q4" value="2" class="radiobutton-cb">
                                  <span class="radiobutton-mark"></span>
                                  <span class="radiobutton-label">Yes</span>
                                </label>
                                <hr>
                                <a href="" id="submitapp" class="round button">SUBMIT APPLICATION</a>&nbsp;&nbsp;&nbsp; </a>
                          </li>
                    </form>
            </ol>
          </div>
    </div>
</div>
<div class="footer-nav">
<div class="large-9 large-push-3 columns">
    <div id="footer">
      <span class="steptracker">
        <span id="numformsteps"></span><br>
        <span class="progress-bar">
          <span class="bar"></span>
        </span>
      </span>
        <a id="arrowdown" class="circle button round right nextQuestion"><img src="/static/img/arrow-down.png"></a>&nbsp; &nbsp;
        <a id="arrowup" class="circle button round disabled right"><img src="/static/img/arrow-up.png"></a>&nbsp; &nbsp;
    </div>
</div>
</div>
{% include 'footer.html' %}